<div class="main">
<div class="information">
    <div class="startDate">
        <label>Start Date:</label>
        <p-calendar [(ngModel)]="startDate"></p-calendar>
    </div>
    <div class="days">
        <label>Number of days:</label>
        <input type="number" [(ngModel)]="days" />
    </div>
    <div class="country">
        <label>Country Code:</label>
        <input type="text" [(ngModel)]="countryCode" maxlength="3" />
    </div>
</div>
<div class="result">
    <app-calendar [startDate]="startDate" [numberOfDays]="days" [countryCode]="countryCode"></app-calendar>
</div>
</div>